footer{
  width: 100vw;
  height: 15vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cccccc;
  min-height: 91.5px;
  p{
    color: darkcyan;
    font-family: $font-alt;
    font-size: 19px;
    margin-bottom: 2vh;
  }
}
