
header{
  width: 100vw;
  height: 20vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cccccc;
  h1{
    color: deeppink;
  }
  p{
    color: #707070;
  }
}