
header{
  width: 100vw;
  height: 15vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #cccccc;
  min-height: 92px;
  h1{
    color: deeppink;
    font-family: sigmar one;
    text-align: center;
    font-size: 30px;
    margin-bottom: 7px;
    @media (min-width: 400px) {
      font-size: 35px;
      margin-bottom: 10px;
    }
    }
  p{
    color: #707070;
    font-family: 'Gochi Hand';
    font-size: 19px;
  }
}