.main{
  width: 100vw;
  height: 85vh;
  justify-content: center;
  min-height: 520px;
  align-items: center;
  .startBox {
    border: 3px solid #ff0f00;
    min-height: 466px;
    min-width: 447px;
    border-radius: 30px;
    height: 90%;
    width: 70%;
    background-color: rgba(255, 238, 168, 0.8);

    h1 {
      text-align: center;
      margin-top: 5%;
      font-size: 26px;
      line-height: 40px;
    }

    p {
      cursor: pointer;
      text-align: center;
      margin-top: 5%;

      .link {
        color: #ece5e5;
        text-decoration: none;
        font-size: 24px;
        font-family: $font-alt;
        border-radius: 45%;
        padding: 9px 20px;
        background-color: #7B7B7B;
      }
    }
    form {
      position: relative;

      .formContainer {
        justify-content: center;
        flex-wrap: wrap;

        .answers {
          margin: 4.68vh 10px;
          display: inline-block;
          font-size: 24px;
          cursor: pointer;
          position: relative;
          padding-right: 4.58vw;
          text-align: center;
          color: #3E3E3E;
          font-family: $font-alt;
          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
          }

          .answersCheckmark {
            padding: 8px 18px;
            border-radius: 25px;
            background-color: darkkhaki;
          }

        }

        .answers input:checked ~ .answersCheckmark {
          background-color: #FAD648;
        }
      }

      .formButton {
        position: absolute;
        bottom: -166px;
        left: 70px;
        color: #ece5e5;
        text-decoration: none;
        font-size: 24px;
        font-family: $font-alt;
        border-radius: 45%;
        padding: 9px 20px;
        background-color: #7B7B7B;
        border: none;
      }

      .disabled {
        display: none;
      }
    }
    .coordinates{

      background-color: azure;
      float: right;
    }
    .results{
      flex-direction: column;
      width: 59%;
      justify-content: flex-start;
      align-items: center;
      margin-left: -7%;
      margin-top: 5%;
      >span{
        margin: 5px 0;
      }
      .coordsBox {
        justify-content: center;
        align-items: center;

        >span:first-child {
          transform: rotate(270deg);
          text-align: center;
          font-size: 14px;
          height: 26px;
          width: 48%;
          margin-right: -19%;
        }

        >span:last-child {
          transform: rotate(90deg);
          text-align: center;
          font-size: 14px;
          height: 26px;
          width: 48%;
          margin-left: -19%;
        }

        .withCanvas {
          position: relative;
          canvas {
          }
          .resultDot {
            position: absolute;
            height: 5%;
            width: 5%;
            background-color: red;
            border-radius: 50%;
            display: inline-block;
          }
        }
      }
    }
    .resultsInfo{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 41%;
      p{
        font-size: 26px;
        font-family: $font-alt;
      }
    }
    #results{
      font-size: 30px;
    }
  }

}
.startInfo{
  height: 70vh;
  min-height: 400px;
  .startBox{
    min-height: 300px;
  }
}