.main{
  width: 100vw;
  height: 85vh;
  justify-content: center;
  min-height: 700px;
  align-items: center;
  @media (min-width: 600px){
    min-height: 520px;
  }
  .startBox {
    border: 3px solid #ff0f00;
    min-height: 600px;
    min-width: 285px;
    border-radius: 30px;
    height: 90%;
    width: 85%;
    background-color: rgba(255, 238, 168, 0.8);
    position: relative;
    @media (min-width: 600px) {
      width: 70%;
      min-height: 466px;
      min-width: 550px;
    }
    h1 {
      text-align: center;
      margin-top: 5%;
      font-size: 26px;
      line-height: 40px;
    }
    #infoText{
      font-size: 20px;
    }
    p {
      cursor: pointer;
      text-align: center;
      margin-top: 5%;

      .link {
        color: #ece5e5;
        text-decoration: none;
        font-size: 24px;
        font-family: $font-alt;
        border-radius: 45%;
        padding: 9px 20px;
        background-color: #7B7B7B;
      }
    }
    #question{
      margin-bottom: 2vw;
    }
    form {

      .formContainer {
        justify-content: center;
        flex-wrap: wrap;

        .answers {
          margin: 27px 0;
          display: inline-block;
          font-size: 24px;
          cursor: pointer;
          position: relative;
          color: #3E3E3E;
          padding-right: 4.58vw;
          text-align: center;
          font-family: $font-alt;
          @media (max-width: 600px){
            margin: 18px 2.2%;
          }
          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
          }

          .answersCheckmark {
            padding: 8px 18px;
            border-radius: 25px;
            background-color: darkkhaki;
          }

        }

        .answers input:checked ~ .answersCheckmark {
          background-color: #FAD648;
        }
      }


    }
    .formButton {
      position: absolute;
      bottom: 15px;
      left: 15px;
      //margin-top: 15px;
      //margin-left: 4%;
      color: #ece5e5;
      text-decoration: none;
      font-size: 24px;
      font-family: $font-alt;
      border-radius: 45%;
      padding: 9px 20px;
      background-color: #7B7B7B;
      border: none;
    }

    .disabled {
      display: none;
    }

  }

}
@media (min-width: 600px) {
  .startInfo {
    height: 70vh;
    min-height: 400px;

    .startBox {
      min-height: 300px;
    }
  }
}