@import "./settings/_fonts.scss";
@import "./settings/_colors.scss";
@import "./settings/_reset.scss";
@import './elements/header.scss';
@import './elements/mainElement.scss';
@import './elements/footer.scss';
@import './elements/results.scss';

*{
  box-sizing: border-box;
}

body {
  font-family: $font-base;
}
.flex-box{
  display: flex;
}

